/* CONTAINER GERAL */
.biblioteca-container {
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

/* HERO */
.biblioteca-hero {
    background-image: url(../imagens/Biblioteca/fundo_biblioteca.webp); /* coloque a foto da sala */
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.biblioteca-hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 6px black;
}

.biblioteca-hero p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 6px black;
}

/* CARDS */
.biblioteca-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.card1 {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.card1-foto{
    background-image: url(../imagens/Biblioteca/acervo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140px;
    margin-top: 10px;
}

.card2 {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.card2-foto{
    background-image: url(../imagens/Biblioteca/sala.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140px;
    margin-top: 10px;
}

.card3 {
    background: #ffffff;
    width: 300px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.card3-foto{
    background-image: url(../imagens/Biblioteca/ficha.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 140px;
    margin-top: 10px;
}

.card h2 {
    margin-bottom: 10px;
    color: #003366;
}

.card p {
    color: #444;
}

/* CAPAS DE LIVROS */
.titulo-capas {
    text-align: center;
    margin: 40px 0 20px;
}

.capas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.capa img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}


.accordion {
    max-width: 800px;
    margin: 50px auto;
}

.accordion h2{
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

.accordion-btn {
    width: 100%;
    background: #003366;
    color: white;
    padding: 15px 20px;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}

.accordion-btn:hover {
    background: #004a99;
}

.accordion-btn .arrow {
    transition: transform 0.3s ease;
}

.accordion-btn.active .arrow {
    transform: rotate(180deg);
}

.accordion-content {
    background: #ffffff;
    padding: 0 15px;
    border-radius: 8px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
    margin-bottom: 15px;
}

.accordion-content.open {
    padding: 15px;
    max-height: 300px;
    opacity: 1;
}

.accordion-content ul {
    margin: 0;
    padding-left: 20px;
}

.accordion-content li {
    margin-bottom: 6px;
}


@media (max-width: 768px) {
  .accordion {
    padding: 0 16px; /* espaço lateral */
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .accordion-btn {
    width: 100%;
  }

  .accordion {
    padding: 0 16px;
  }
}