@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
    }



    main {
      min-height: 80vh;
    }

    .pagina {
      display: none;
    }

    .pagina.active {
      display: block;
    }


  